/* ANIMATIONS */

@keyframes size20{
   from{transform: scale(1,1)}
   
   to {transform: scale(1.05,1.05);}

}

@keyframes hoverlink{
    to{font-size: 1.2em;
        position: relative;}
}

/* GLOBAL */

a:link{
    text-decoration: none;
}

a:hover{
    animation-name: hoverlink;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

a:visited{
    color: blueviolet;
}

p {
    font-size: 14px;
    text-align: justify;
}

body {
    margin: 50px 42px;
    font-family: 'Montserrat', sans-serif;
    background: rgb(253, 228, 204);
}

ul li {
    list-style: none;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img:hover {
    transform: scale(1.2,1.2);
    animation-name: size20;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* ULs */

#linear{
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}