/* ANIMATIONS */

@keyframes size20{
   from{transform: scale(1,1)}
   
   to {transform: scale(1.05,1.05);}

}

@keyframes size20reverse{
    from{transform: scale(1.05,1.05)}
    
    to {transform: scale(1,1);}
 
 }
/* GLOBAL */

a {
    text-decoration: none;
    position: relative;
    color: black;
    font-weight: 1000;
}

a:hover {
    text-decoration: none;
    color: #000;
  }

a:visited{
    color: blueviolet;
}

p {
    font-size: 14px;
    text-align: justify;
}

header .container .navbar {
    background: bisque;
}

footer {
    background: bisque
}

body {
    margin: 50px 42px;
    font-family: 'Montserrat', sans-serif;
    background: bisque;
    overflow-y: hidden
}

ul li {
    list-style: none;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.animzoom:hover{
    animation-name: size20;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

/* ULs */

#logo{
    height: 100px;
    width: 125px;
}

#menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%; 
}

#menu #linear{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }